@charset "utf-8";

/* 清除 css reset */
body,
p,
a,
ul,
li {
	margin: 0;
	padding: 0;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd {
	margin: 0px;
	padding: 0px;
	border: none;
	list-style: none;
}

input {
	border: none;
}

b,
strong {
	font-weight: normal;
}

i,
em {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-decoration: none;
}

/* 登录模块 */
.login_wz {
	width: 175px;
	color: #fff;
	margin: 100px auto 0;
}

.login {
	width: 420px;
	height: 330px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	margin: 10px auto;
	text-align: center;
	border-radius: 5px;
	position: relative;
}

/* 登陆按钮 */
.login_dl {
	width: 80%;
	padding: 10px 10px;
	background-color: limegreen;
	outline: none;
	margin: 0 auto;
	border: none;
	border-radius: 8px;
	color: #FFFFFF;
	box-sizing: border-box;
}
.login_dl:hover{opacity: 0.75;}
/* 登陆模块下 */
#login_dlmk {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
}

#login_dlmk button {
	box-sizing: border-box;
}
#login_dlmk input{
	box-sizing: border-box;
}
#login_dlmk li:first-child{
	width: 100%;
	display:flex ;
}
/* 登陆/注册按钮 */
.dl_dlmkan,.dl_zcmkan{
		width: 50%;
		height: 40px;
		margin: 0;
		padding: 0;	
		line-height: 40px;
}
.dl_zcmkan{
	background-color: #EEEEEE;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
/* 输入用户名 */
.qsrndyhm,.qsrndmm,.qsrndyqm{
	width: 320px;
	height: 45px;
	background-color: #ffffff;
	border:2px solid #CCCCCC;
	border-radius: 6px;
	padding-left: 20px;
	outline: none;
	margin-top: 20px;
}
.qsrndyhm{margin-top: 50px;}
.qsrndmm{}
.qsrndyqm{margin-bottom: 10px;}
.qsrndyhm:focus{
	border-color: #75b9e6;
	box-shadow: 
	inset 0 2px 2px rgba(0,0,0,.075), 
	0 0 10px rgba(102, 175, 233, 0.6);
}
.qsrndmm:focus{
	border-color: #75b9e6;
	box-shadow: 
	inset 0 2px 2px rgba(0,0,0,.075), 
	0 0 10px rgba(102, 175, 233, 0.6);
}
.qsrndyqm:focus{
	border-color: #75b9e6;
	box-shadow: 
	inset 0 2px 2px rgba(0,0,0,.075), 
	0 0 10px rgba(102, 175, 233, 0.6);
}
/* 注册模块下 */
#login_zcmk {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}
#login_zcmk button {
	box-sizing: border-box;
}
#login_zcmk input{
	box-sizing: border-box;
}
#login_zcmk li:first-child{
	width: 100%;
	display:flex ;
}
.zc_dlmkan,.zc_zcmkan{
		width: 50%;
		height: 40px;
		margin: 0;
		padding: 0;	
		line-height: 40px;
}
.zc_dlmkan{
	background-color: #EEEEEE;
	border-top-left-radius: 5px;
}

