@charset "utf-8";
/* 清除 css reset */
body,p,a,ul,li{margin:0;padding:0;}
ul,li,h1,h2,h3,h4,h5,h6, dl, dt, dd { margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;}
		input {
		    border: none;
		}
b,strong{font-weight:normal;}
i,em{font-style:normal;}
h1,h2,h3,h4,h5,h6{text-decoration:none;}
/* 头部 */
/* .top{
} */
.top{
	border-bottom:1px #e7e7e7 solid ;
}
.container{
	background-color: #FFFFFF;
}
.logo{
	margin-top: 10px;
}
.top_title{
	/* border: 2px solid salmon; */
	display: flex;
	padding-left: 20px;
	line-height: 70px;
	box-sizing: border-box;
}
.top_title>li{
	width: 68.25px;
	/* border: 2px solid yellow; */
	font-size: 1.2em;
}
.top_title a{
		color: #000000;
}
.top_title a:hover{
		opacity: 0.75;
		color: red;
		text-decoration: none;
}
	.top_gdin{position: relative;
		/* background-color: #005CBF; */
		}
		/*写好的下拉框写点击改变display为fiexbox */
	.top_gd{
		position: absolute;
		top:50px;
		z-index: 3;
		display: none;
	}
	.top_gd li{
		width: 50px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		background-color: aqua;
	}
	/* 尾部 */
	
		.hycdan:hover{
			opacity: 0.5 ;
			transition: all 1.2s;
		}
		#bottom_all{
			display: flex;
			flex-wrap: wrap;
			color: #fff;
			background-color: #333;
		}
		.b_all_mk1{
			width: 20%;
			display: flex; 
			flex-wrap: wrap;
		}
		.mydmk4{
			width:36% ;
		}
		.b_all_mk1 a{
			width: 100%;
		}
		.bottom_all_ewm{
			margin: 0 auto;
		}
		.bottom_all_ewm img:nth-child(3){
			width: 31px;
		}
			#bottom_all a{
				color: #fff;
				text-decoration: none;
			}
			/* 搜索框 */
			
			.ssk_input{
				width: 100%;
				display: flex;
				justify-content: center;
			}
			.ssk_input input{
			width: 100%;
				background-color: rgba(0,0,0,0.7);
				border: 1px solid #FFFFFF;
				border-right: none;
				height: 46px;
				padding: 10px 16px;
				font-size: 18px;
				line-height: 1.33333;
				color: #fff;
				border-top-left-radius:6px ;
				border-bottom-left-radius:6px ;
			}
			.ssk_input input:focus{
				outline:none;
				border-color: #75b9e6;
				box-shadow: 
				inset 0 2px 2px rgba(0,0,0,.075), 
				0 0 10px rgba(102, 175, 233, 0.6);
			}
			.fdj{
				width: 46px;
				height: 100%;
				padding-top:7px ;
				padding-left: 7px;
				box-sizing: border-box;
				background-color: rgba(0,0,0,0.7);
				border: 1px solid #FFFFFF;
				border-left:none ;
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
			}
			/* 头条分类 */
			.ttiaofl{
				width: 100%;
				/* background-color: #00A6E4; */
				display: flex;
				justify-content: space-around;
				margin-bottom: 0;
				border-bottom:1px solid #CCCCCC;
			}
			.ttiaofl ul{
				width: 16%;
			}
			/* 文章样式 */
			#news_kong>div:first-child {
				font-size: 24px;
				text-align: center;
				line-height: 30px;
				max-height: 90px;
				overflow: hidden;
				margin-bottom: 10px;
			}
			
			/* 新闻的文章 */
			#new_wzwzwz {
				font-size: 14px;
				line-height: 16px;
				max-height: 48px;
				overflow: hidden;
				margin-bottom: 10px;
			}
			
			#news_kong>div:first-child>a {
				color: #333333;
			}
			
			.zxzxtp img {
				width: 100%;
			}
			
			.news_time {
				font-size: 14px;
				color: #ccc;
			}
			/* 左边广告 之前设置高度不够隐藏 */
			.xtball {
				margin-top: 5px;
			}
			
			.xax {
				width: 18px;
				height: 16px;
				margin-top: 3px;
			}
			
			.nzsygsb {
				width: 272px;
				height: 500px;
				overflow: hidden;
				position: absolute;
				right: 0;
				top: 0;
			}
			
			.nzsygsb_jrtj {
				font-size: 12px;
			}
			
			.zouzixbg {
				width: 269.25px;
				height: 70px;
				background-color: #EEEEEE;
				margin-top: 65px;
				padding-left: 5px;
			}
			
			.zouzixbg>img {
				height: 60px;
				margin-top: 5px;
				float: left;
				margin-right: 10px;
			}
			
			.zouzixbg div {
				color: #BBBBBB;
				font-size: 14px;
				margin-top: 10px;
			}
			
			.zouzixbg+.zouzixbg {
				margin-top: 15px;
			}
			/*  */